// colors
_colors = 'red' #db2828, 
'orange' #f2711c,
'yellow' #fbbd08,
'olive' #b5cc18,
'green' #21ba45,
'teal' #00b5ad,
'blue' #26a2ff,
'violet' #6435c9,
'purple' #a333c8,
'pink' #e03997,
'brown' #a5673f,
'grey' #767676,
'black' #1b1c1d,
'white' #fff

_red = _colors[0][1]
_orange = _colors[1][1]
_yellow = _colors[2][1]
_olive = _colors[3][1]
_green = _colors[4][1]
_teal = _colors[5][1]
_blue = _colors[6][1]
_violet = _colors[7][1]
_purple = _colors[8][1]
_pink = _colors[9][1]
_brown = _colors[10][1]
_grey = _colors[11][1]
_black = _colors[12][1]
_white = _colors[13][1]


_header-h = 60px
_navbar = 56px





